---
import type { BlogType } from '@/types';
import { Image } from 'astro:assets';

type Props = { post: BlogType; slug: string; size?: string };
const { post, slug, size = 'w-[80px] h-[80px]' } = Astro.props;
---

<a
  href={`/blog/${slug}`}
  class:list={['block shrink-0 rounded-2xl overflow-hidden not-animated', size]}
  transition:name={'article-image-' + slug}
>
  <Image
    src={post.image}
    alt={post.imageAlt || post.title}
    class="object-cover object-center !m-0 aspect-square block"
  />
</a>

<style></style>
