---
import type { BlogType } from '@/types';
import ArticleThumbnail from './ArticleThumbnail.astro';

type Props = {
  post: BlogType;
  slug: string;
};

const { post, slug } = Astro.props;
---

<article class="flex items-center gap-8">
  <ArticleThumbnail slug={slug} post={post} size="w-[80px] h-[80px]" />
  <div class="flex flex-col gap-4 text-sm">
    <a href={`/blog/${slug}`} class="text-xl font-montserrat">
      {post.title}
    </a>
  </div>
</article>
