---
const today = new Date();
---

<footer>
  <div class="main-container">
    &copy; {today.getFullYear()} Alex Suevalov
  </div>
</footer>
<style>
  footer {
    @apply h-16 flex flex-col justify-center;
  }
</style>
